.profile{
  display: flex;
}

.profileRight{
  flex: 9;
}

.profileCover{
  height  : 350px;
  position: relative;
  margin-bottom: 50px;
}

.profileCoverImg{
  width     : 100%;
  height    : 340px;
  object-fit: cover;
}

.profileUserImg{
  width        : 150px;
  height       : 150px;
  border       : 3px solid white;
  border-radius: 50%;
  object-fit   : cover;
  position     : absolute;
  top          : 240px;
  left         : 0;
  right        : 0;
  margin       : auto;
}

.profileInfo{
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.profileInfoName{
  font-size: 24px;
}

.profileInfoDescription{
  font-weight: 400;
}

.profileRightBottom{
  display: flex;
}